<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#333333" />
    <meta name="slack-app-id" content="AB6U9570F">

    <title>{{.title}}</title>

    <script type="application/javascript" src="/static/vendor/jquery/3.7.1/jquery-3.7.1.min.js"></script>
    <script type="application/javascript" src="/static/vendor/jquery-ui/1.4.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/vendor/jquery-ui/1.4.0/jquery-ui.min.css" />
    <script type="text/javascript" src="/static/vendor/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/vendor/bootstrap/3.4.1/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.png" />

    {{template "head" .}}
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand brand">
                    <img class="logo-inline" src="/static/img/favicon.png" />
                    Blaster
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {{if .authorized}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">
                        <span class="glyphicon glyphicon-user"></span> {{.teamName}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/auth/logout">Logout</a></li>
                    </ul>
                </li>
                {{else}}
                <li class="navbar-right">
                    <a href="/auth/initiate"><span class="glyphicon glyphicon-user"></span> Authorize</a>
                </li>
                {{end}}
            </ul>
        </div>
    </nav>

    {{template "content" .}}

    <div class="container">
        <div class="footer">Developed by <a href="https://gouline.net" target="_blank">Mike Gouline</a></div>
    </div>

</body>

</html>
