textarea {
    resize: vertical;
}

.brand {
    display: flex;
    align-items: center;
}

.logo-inline {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    margin-right: 10px;
}

.not-authorized {
    display: block;
    background-color: #fafafa;
    padding: 20px;
    text-align: center;
}

.action-progress {
    margin-top: 20px;
}

.footer {
    margin-top: 25px;
    margin-bottom: 50px;
    display: block;
    opacity: .5;
    text-align: center;
    font-size: 10pt;
    color: #595b5c;
}

.footer a {
    color: #090b0c;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer img {
    max-height: 14px;
    vertical-align: middle;
}
